/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color:#eee;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Cairo", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

  /* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}



  /* End Global Rules */

.page {
    height: 100vh;
}
.page::before {
    content: "";
    position: fixed;
    width: 300%;
    height: 100%;
    background-color: #0075ff;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) skew(0, -10deg);
    border-radius: 50%;
    z-index: -1;
    animation: waving 5s ease-in-out infinite alternate;
}
.card {
    width: 300px;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd inset;
}
.card img {
    max-width: 100%;
    border-radius: 10px;
}
.card h2 {
    margin: 0;
}
.card p {
    margin: 0;
}
@keyframes waving {
    from {
        transform: translateX(-50%) skew(0, -10deg);
    }
    to {
        transform: translateX(-30%) skew(10deg, 0);
    }
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    box-shadow: 0 0 10px #ddd inset;
}
::-webkit-scrollbar-thumb {
    background-color: #0075ff;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #0075ff;
}